.mustang{
    display: flex;
    width: 30%;
    height: 350px;
    align-self: start;
}

.vermelho{
    justify-content: center;
    
}

body{   
    background-color: white;
}
p{  
    display: flex;

}


.cabecalho{    
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.pa{    
    display: flex;
    justify-content: center
    ;
}

.texto{ 
    display: flex;
    flex-direction: column;
    justify-content: end;
}
