
*{margin: 0;}

.mustang{
    display: flex;
    width: 100%;
    height: 350px;
   
    
    
}
header{
    background-color: #f81919;
    padding: 25px 20px;
    font-family: 'Courier New', Courier, monospace ;

}
.tudo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    


}
.texto{
    background-color: #f81919;
    width: 50%;
    font-family: 'Courier New', Courier, monospace ;
}
.lista-cabecalho{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.lista-item{
    display: inline-block;
    padding: 0 20px;
}
    

body{   
    background-color: #ffffff;
}
p{  
    display: flex;

}


.cabecalho{    
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.pa{    
    display: flex;
    justify-content: center
    ;
}

.texto{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center  ;
    
}

h1{
    color: rgb(0, 0, 0);
    font-size: 70px;   
    padding-right: 200px; 
}

h3{
    padding-left: 25px;
    font-size: 25px;
}

h4{
    font-size: 15px;
    padding-left: 169px;
}

.h6{
    font-size: 20px;
    padding-top: 180px;
    padding-left: 530px;
}

.insta{ 
    display: flex;
    width: 5%;
}

.png {
    padding-top: 370px;
    width: 110%;
}