.mustang{
    display: flex;
    width: 30%;
    height: 350px;
    padding-left: 300px;
    padding-bottom: 90px;
    
    
}



.vermelho{
    display: flex;
    width: 60%;
    padding-top: 70px;
    
    
    
    
}

body{   
    background-color: #FFCCCC;
}
p{  
    display: flex;

}


.cabecalho{    
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.pa{    
    display: flex;
    justify-content: center
    ;
}

.texto{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center  ;
    
}

h1{
    color: gray;
    
}

.insta{ 
    display: flex;
    width: 5%;
    afjdsfhbsdihfsd
}